//======================//
//===// Animations //===//
//======================//

@keyframes logo__text-anim {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes logo__icon-anim {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes nav-anim-first {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-300px);
  }
}

@keyframes nav-anim-second {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }

  40% {
    transform: translateY(-16px);
  }

  60% {
    transform: translateY(-8px);
  }

  80% {
    transform: translateY(-4px);
  }

  50%,
  70%,
  90% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes form__result-anim {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(-100px);
  }

  10% {
    transform: translateY(0);
  }

  15%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  95% {
    opacity: 0;
  }

  100% {
    transform: translateY(-100px);
  }
}

//===========================================//
//===// Page transition (Top to Bottom) //===//
//===========================================//

.slide-r-l {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  z-index: 101;
  background: color(accent);
  transition: time(transition-time) ease-out;

  &.transition--active {
    left: 0;
  }
}
